/* 메인 */
header {
  width: 40em;
  padding: 2em 0 0 0;
  position: block;
}
header > article > nav {
  padding: 1em 3em;
  /* background-color: rgba(33, 33, 33, 0.8); */
}
header > article > nav > ul {
  padding-top: 3em;
}
section#home {
  height: 100vh;
  position: block;
}
input#title {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  text-shadow: 1px 1px 1px #aaa;
}
article#home {
  height: auto;
}
div#home {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3em;
  display: block;
  margin: 0 auto;
  width: 25em;
  max-width: 30%;
  position: absolute;
  top: 28%;
  left: 0%;
  bottom: 0;
  right: 0;
  height: 25%;
  padding-bottom: 15em;
}
div#home > img {
  max-width: 73%;
  height: 140%;
  max-height: 20em;
}
div#home > p {
  color: white;
  text-align: right;
  margin-right: 4%;
}
div#home > #hi {
  font-weight: bold;
  font-size: 1.3em;
  color: #fdb927;
}
section#footer {
  background: transparent;
}
