/* 맺는말 */
section#motto {
  height: 100vh;
  background-image: url('../image/charlieChaplin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 3;
}
section#motto article {
  height: 30%;
  display: inline-block;
  margin-top: 35vh;
}
article > p#motto {
  color: rgba(253, 185, 39, 0.9);
  font-size: 1.5em;
  max-width: 19em;
  margin: 0 5em;
}
article > p#by {
  color: rgba(253, 185, 39, 0.9);
  margin-top: 2em;
}
