/* 프로젝트 */
#proj {
  color: #fdb927;
  font-weight: bold;
}
div#projectBlur {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}
article#projects {
  display: inline-block;
  margin-top: 37vh;
  color: white;
}
article#projects > h3 {
  color: rgba(253, 185, 39, 0.9);
  margin-bottom: 0;
}
article#projects > ul {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}
p#type {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #fdb927;
}
p#description {
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgba(253, 185, 39, 0.9);
}
button#project {
  background: none;
  width: 4em;
  height: 4em;
  padding: 0;
  border: 0;
}
button#project > img {
  width: inherit;
  margin: 0;
  cursor: pointer;
}
#project1,
#project2,
#project3,
#project4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 2;
}
section#project1 {
  background-image: url('../image/lovely_kante.JPG');
}
section#project2 {
  background-image: url('../image/rhythmGame.JPG');
}
section#project3 {
  background-image: url('../image/chessGame.JPG');
}
section#project4 {
  background-image: url('../image/localhost.JPG');
  height: 100vh;
}
section#project4 > div > article {
  height: 100%;
  margin-top: 0;
}
section#project4 > div > article > img {
  margin-top: 38vh;
}
article#projects > img {
  margin: 0;
}
