<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../app.css" />
  </head>
  <body id="footer">
    <h3><a href="../home.html" target="_parent">방구석 이찬빈</a></h3>
    <nav id="footer">
      <ul id="footer">
        <a href="../introduction.html" target="_parent">소개</a>
        <a href="../curriculum.html" target="_parent">교과활동</a>
        <a href="../others.html" target="_parent">비교과활동</a>
        <a href="../project.html" target="_parent">프로젝트</a>
      </ul>
    </nav>
    <section>
      <article id="footer">
        <p>© 2021 by Lee Chanbin.</p>
        <p>웹개발입문 6조</p>
      </article>
    </section>
  </body>
</html>
