<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../app.css" />
  </head>
  <body>
    <h3 id="header">
      <a href="../home.html" target="_parent">방구석 이찬빈</a>
    </h3>
    <nav id="header">
      <ul id="header">
        <a href="../introduction.html" target="_parent">소개</a>
        <a href="../curriculum.html" target="_parent">교과활동</a>
        <a href="../others.html" target="_parent">비교과활동</a>
        <a href="../project.html" target="_parent">프로젝트</a>
        <a href="../motto.html" target="_parent">맺는말</a>
      </ul>
    </nav>
  </body>
</html>
